{% extends 'base.html' %}

{% block title %}
<h1><strong>Portfolio builder</strong></h1>
{% endblock %}

{% block content %}
<form action="" method="post" name="calculator">
    {{ form.hidden_tag() }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-1">
                <p><h4><b>Enter tickers to evaluate (seperated by commas)</b></h4></p>
                {{ form.tickers(class_='form-control', style='height: 200px') }}
            </div>
        </div>
        <div class="row" style="position:relative; top:10px;">
            <div class="col-6 offset-1">
                <p><h4><b>Number of different stocks you want in your portfolio</b></h4></p>
                {{ form.number(class_='form-control')}}
            </div>
        </div>
        <div class="row" style="position:relative; top:15px;">
            <div class="col-3 offset-1">
                <p><input type="submit" class="btn btn-primary col-12" value="Submit"></p>
            </div>
            <div class="col-3">
                {% for item in form %}
                {% for error in item.errors %}
                <div class="alert alert-danger col-12" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}