{% extends 'base.html' %}

{% block title %}
<h1><strong>Stock information</strong></h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-6 offset-1">
        <p><h4><b>Stock information</b></h4></p>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th class="col-1">Stock</th>
                <th class="col-1 text-center">Price</th>
                <th class="col-1 text-center">Score</th>
            </tr>
            </thead>
            <tbody>
                {% for ticker, stock in stocks %}
                <tr>
                    <th>{{ ticker }}</th>
                    <td class="text-center">{{ stock.price }}</td>
                    <td class="text-center">{{'%0.2f'| format(stock.score|float)}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-3 offset-1">
        <p><h4><b>Recommended portfolio</b></h4></p>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th class="col-1">Ticker</th>
                <th class="col-1 text-center">Portfolio percentage</th>
            </tr>
            </thead>
            <tbody>
                {% for ticker, weight in portfolio.index|zip(portfolio.weight) %}
                <tr>
                    <th>{{ ticker }}</th>
                    <td class="text-center">{{'%0.2f'| format(weight*100|float)}}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}